 /* Header */
 .topbar {
    background: #F5F5F7;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Wrapper */
.wrapper {
    display: flex;
    margin-top: 80px;
    /* space under header */
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 210px;
    background: #5E686D;
    color: #fff;
    padding-top: 20px;
    flex-shrink: 0;
    height: calc(100vh - 80px);
    overflow-y: auto;
    position: sticky;
    top: 80px;
}

/* Section Titles */
.sidebar h2 {
    margin: 20px 0 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-left: 15px;
}

/* Main menu list */
.menu-list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
    /* indent */
}

.menu-list li {
    margin-bottom: 2px;
    position: relative;
  
}

.menu-list>li>a,
.dropdown-title {
    display: block;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s, padding-left 0.2s;
}

.menu-list>li:hover>a,
.dropdown-title:hover {
    background: #444;
    padding-left: 30px;
    /* lebih lega */
}

/* Submenu */
.submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
    /* tambahan indent */
}

.has-submenu:hover .submenu {
    display: block;
}

.submenu li a {
    display: block;
    padding: 6px 15px;
    color: #ddd;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s, padding-left 0.2s;
}

.submenu li a:hover {
    background: #555;
    padding-left: 30px;
}

/* Content */
.content {
    flex-grow: 1;
    padding: 30px;
    background: #f4f4f4;
    min-height: calc(100vh - 80px);
}

/* Footer */
.footer {
    padding-bottom: 2px;
    padding-top: 2px;
    background-color: #DBDBDB;
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}